@font-face{
  font-family:"TruliaSans";src: url("https://www.trulia.com/images/fonts/TruliaSans_20190627/TruliaSansWeb-Regular.woff2") format("woff2"), url("https://www.trulia.com/images/fonts/TruliaSans_20190627/TruliaSansWeb-Regular.woff") format("woff");
}
@font-face{
  font-family:"TruliaSansBold";src: url("https://www.trulia.com/images/fonts/TruliaSans_20190627/TruliaSansWeb-Bold.woff2") format("woff2"), url("https://www.trulia.com/images/fonts/TruliaSans_20190627/TruliaSansWeb-Bold.woff") format("woff");
}

html, body {
  font-family: TruliaSans, system, -apple-system, Roboto, "Segoe UI Bold", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.searchIcon {
  height: 24px;
  width: 24px;
}

.mainMenuIcon {
  height: 24px;
  width: 24px;
}

.backToSearchIcon {
  height: 22px;
  width: 22px;
}

.pathArrowIcon {
  height: 18px;
  width: 18px;
}

.icon {
  color: rgb(0, 120, 130);
  font-size: 20px;
  position: relative;
  top: 7px;
  left: 0;
  padding: 3px 7px 3px 5px;
}

.iconModal {
  color: rgb(59, 65, 68);
  font-size: 20px;
  position: relative;
  top: 7px;
  left: 0;
  padding: 3px 7px 3px 5px;
}

.iconTourtype {
  height: 25px;
  width: 25px;
}

.imageIcon {
  position: relative;
  top: 5px;
  left: 0;
  padding: 3px 7px 3px 2px;
}

.closeButton {
  font-size: 30px;
  position: relative;
  top: 10px;
  left: 0;
}

.iconWarning {
  font-size: 20px;
}

.nextPrevButton {
  height: 25px;
  width: 25px;
}
